/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require leaflet
 */
@import 'flexbox_sass_rails';
@import 'microcosms';

html
  {
  box-sizing: border-box;
  }

*, *:before, *:after
  {
  box-sizing: inherit;
  }

a {
  color: #222;

  &:visited {
    color: #333;
  }
}

body {
  background-color: #fff;
  color: #444;
  font-family: verdana, arial, helvetica, sans-serif;
  line-height: 24px;
}

h1 a {
  text-decoration: none;
  font-size: 120%;
  span {
    color: #555;
  }
}

h2 a {
  text-decoration: none;
}

label {
  display: inline-block;
  color: #AAA;
  font-size: 90%;
  width: 5em;
}

p > strong {
  margin-left: 1em;
}

p > strong > a {
  text-decoration: none;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

.mc-link-button {
  display: inline-block;
  border-radius: 6px;
  border: 1px solid #444;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
}

.mc-row {
  @include fb-layout-row-column;
  @include fb-layout-column;
  > div {
    @extend .fb-flex;
  }
}

.new_link, .edit_link {
  font-size: 60%;
  width: 3em;
  float: right;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}



@media (min-width: $fb-layout-sm) {
  .mc-row {
    @include fb-layout-row;
    > div:not(:first-child) {
      padding-left: 2em;
    }
  }
  #Auth {
    text-align: right;
   }
}
