// Place all the styles related to the microcosms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#Members
  {
  > div > a
      {
      display: block;
      width: 8em;
      height: 8em;
      border: 1px solid #888;
      border-radius: 4px;
      float: left;
      margin: 1em;
      padding: 1em;
      background-color: #DDD;
      box-sizing: border-box;
      text-decoration: none;
      }
  }
