<p id="notice"><%= notice %></p>

<h1>
  <%= @microcosm.name %>
</h1>

<%= link_to 'New', new_organizer_path(@microcosm) %>

<h2>
Members
</h2>
<div class='members'>
  <% @microcosm.members.each do |member| %>
    <ul>
      <li><%= member.user.name %></li>
    </ul>
  <% end %>
</div>

